* {margin: 0px;box-sizing: border-box;}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);


/*CSS qui gère la barre de navigation*/

	nav {background-color: white;}

	#startbootstrap_nav {/*Titre de de la va*/
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		color: #f05f40;
	}

	.liens_nav {/*Liens de la nav*/
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		color: #4D4D4D;
	}

	.liens_nav:hover {/*Hover des liens de nav*/
		background-color: #f05f40 !important;
		color: white;
	}

	.bouton_nav {/*Le bouton "Burger" de la nav*/
		border: 1px solid #4D4D4D;
	}

	.icon_nav {/*Les barres du bouton"Burger" de la nav*/
		background-color: #4D4D4D;
	}


/*CSS qui gère les boutons*/

	.class_button {
		height: 45px;
		width: 175px;
		background-color: white !important;
		border: 0px;
		margin-top: 25px;
		border-radius: 50px;
		color: black !important;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
	}

	#button_orange {
		background-color: #f05f40 !important;
		color: white !important;
	}


/*CSS qui gère les titres*/

	h1 {/*Grand titre du Header*/
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 3em;
	}

	h2 {/*Sous-titres*/
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: white;
		font-size: 2em;
		margin-top: 0px;
	}

	.h2blanc{/*Sous-titres blancs*/
		color: white;
	}


/*CSS qui gère les barres entres titres*/

	hr {/*Petites barres en titre et texte*/
		width: 5%;
		height: 3px;
		background-color: #f05f40;
		border-top: 0px;
	}

	#hr_blanche {/*Pour les barres blanches*/
		background-color: white;
	}


/*CSS qui gère le texte*/

	p {/*Pour les paragraphes de texte*/
		font-family: "Merriweather";
		color: white;
		margin-top: 25px;
		font-size: 1.2em;
		opacity: 0.7;
		max-width: 80%;
	}

	i{/*Pour les icônes*/
		color: #f05f40;
	}


/*CSS qui l'image de fond du header*/

	#img_header {/*CSS image du Header*/
		height: 850px;
		background-image: url(../elements/header.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


/*CSS qui gère les tailles et couleurs des sections*/

	/*.section {
		height: 420px;}*/

	#fond_orange {/*Pour la section en fond orange*/
		padding:60px;
		background-color: #f05f40;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#fond_blanc{/*Pour la section en fond blanc*/
		margin-top: 60px;
		margin-bottom: 60px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		/*justify-content: center;*/
	}

	#bloc_article{/*Pour les icones*/
		display: flex;
		flex-direction: column;
		align-items: center;
		/*justify-content: center;*/
	}

	#fond_blanc p, h2{
		color: black;
	}

	#fond_noir{
		padding: 60px 0;
		background-color: #222222;
	}


/*CSS qui gère la taille et la couleur du footer*/

	/*.blockinner{ La div ne me semble pas utile, tu peux mettre
		ses propriétés à même le footer.
		margin: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/*justify-content: center;*/
	}

	.titre_footer{/*Titre footer*/
		color:#222222;
	}

	#contact_text{/*Css texte footer*/
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.icone_footer {/*icone du footer*/
		margin-top: 20px;
		color: #333
	}

	footer{/*taille footer*/
		padding:100px 0;
		height: 100%;
		background-color: white;
		margin: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer p{/*Css couleur et max texte*/
		max-width: 100%;
		color:#222222;
	}

	footer i{/*Couleur icone footer*/
		color: #333;
	}

	.mail{/*Couleur mail*/
		color: #f05f40;
	}

	.mail:hover{
		text-decoration: underline;
	}


/*CSS qui va appeler les images de la galerie*/

#gallery{
	padding:0px;
}

.g_img{
	padding:0px;
}

/* <i> en effet bounceIn*/

.fa-diamond{
	animation: bounce 0.7s;
	 -webkit-animation-delay: 300ms;
        -moz-animation-delay: 300ms;
         -ms-animation-delay: 300ms;
          -o-animation-delay: 300ms;
             animation-delay: 300ms;
}
.fa-paper-plane{
	animation: bounce 0.7s;
	 -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
         -ms-animation-delay: 400ms;
          -o-animation-delay: 400ms;
             animation-delay: 400ms;
}

.fa-newspaper-o{
	animation: bounce 0.7s;
	 -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
         -ms-animation-delay: 500ms;
          -o-animation-delay: 500ms;
             animation-delay: 500ms;
}

.fa-heart{
	animation: bounce 0.7s;
	 -webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
         -ms-animation-delay: 600ms;
          -o-animation-delay: 600ms;
             animation-delay: 600ms;
}
@keyframes bouncein{
	from {transform: scale(0.5);}
	to   {transform: scale(1);}
}

@keyframes bounce{
0% {
    opacity: 0;
   transform: scale(.3);
}
50% {
    opacity: 0.5;
    transform: scale(0.6);
}
70%{
	opacity: 1;
 transform: scale(1.05);
}
100% {
 transform: scale(1);

	}
}

/*CSS qui gère le Hover sur image*/
.box_img{
	display: block;
	max-width: 650px;
	display: block;
	position: relative;
}
.fading_box{/*Box container fading_box et fading_text*/
	opacity: 0;
	background: rgba(240, 95, 64, 0.9);
	width: 100%;
	height: 100%;
	display: block;
	bottom:0;
	color: white;
	position: absolute;
	-webkit-transition: all 0.35s;
  	-moz-transition: all 0.35s;
  	transition: all 0.35s;
}
.fading_text{/*Text en dessous de Catégory*/
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: white;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	position: absolute;
}
.opacity_cat{/*Opacité de catégory*/
	opacity: 0.8;
	text-transform: uppercase;
	font-size: 16px;
}

.fading_box:hover{/*Hover Opacité*/
	opacity: 1;
}

