* {margin: 0px;box-sizing: border-box;}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);


/*CSS qui gère la barre de navigation*/

nav {background-color: white !important;}

#startbootstrap {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 800 !important;
	color: #f05f40;
}

.liens {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 800 !important;
	color: #4D4D4D;
}

.liens:hover {
	background-color: #f05f40 !important;
	color: white !important;
}

.bouton {
	border: 1px solid #4D4D4D !important;
}

.icon_bar {
	background-color: #4D4D4D;
}


/*CSS qui gère les titres*/

h1 {
	font-family: 'Open Sans', sans-serif !important;
	color: white !important;
	font-size: 3em !important;
}

h2 {
	font-family: "Open Sans", sans-serif !important;
	font-weight: 300;
	color: white !important;
	font-size: 1em;
}


/*CSS qui gère les barres entres titres*/

hr {
	width: 5%;
	height: 3px !important;
	background-color: #f05f40;
	border-top: 0px !important;
}

#hr_blanche
	{background-color: white;
}


/*CSS qui gère le texte*/

p {
	font-family: "Merriweather";
	color: white;
	margin-top: 25px !important;
	font-size: 1.2em;
	opacity: 0.7;
	max-width: 80%;
}

i{
	color: #f05f40;
}


/*CSS qui l'image de fond du header*/

#img_header {
	height: 850px;
	background-image: url(elements/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/*CSS qui gère les tailles et couleurs des sections*/

.section {
	height: 420px;}

#fond_orange {
	background-color: #f05f40;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#fond_blanc{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
}
#bloc_article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#fond_blanc p, h2{
	color: black;
}
#fond_noir{
	padding: 50px 0;
	background-color: #222222;
}


/*CSS qui gère la taille et la couleur du footer*/

#footer{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}


/*CSS qui gère les boutons*/

.class_button {
	height: 45px;
	width: 175px;
	background-color: white !important;
	border: 0px !important;
	margin-top: 25px !important;
	border-radius: 50px !important;
	color: black !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 800 !important;
}

#button_orange {
	background-color: #f05f40 !important;
	color: white !important;
}
/*CSS qui va appeler les images de la galerie*/

#gallery{
	padding:0;
}
.g_img{
	width: 428.66px;
	height: 301.533px;
}
.g_img.p1{
		margin:0;
	background-image: url("elements/1.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}
.g_img.p2{
	background-image: url("elements/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.p3{
	background-image: url("elements/3.jpg");
	background-size: cover;
}
.p4{
	background-image: url("elements/4.jpg");
	background-size: cover;
}
.p5{
	background-image: url("elements/5.jpg");
	background-size: cover;
}
.p6{
	background-image: url("elements/6.jpg");
	background-size: cover;
}

